@page "/customer_account/data"

@using BankDataAccessLibrary
@using BankDataAccessLibrary.Models
@using BankBlazor.Data
@using IbanNet.Builders;
@using IbanNet.Registry;
@*@inject CustomerAccountService CustomerAccountService*@
@inject IBankAccountBuilder IBankAccountBuilder


<h1>CustomerAccount</h1>

<p>This component demonstrates fetching data from a service.</p>

<h4>Create Account</h4>

<EditForm Model="@customerAccountInput" OnValidSubmit="@CreateAccount">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="customerAccountInput.Name" />
    <InputText id="address" @bind-Value="customerAccountInput.Address" />

    <button type="submit" class="btn btn-primary">Create</button>

</EditForm>

<h4>Deposit</h4>

<EditForm Model="@customerAccountInput" OnValidSubmit="@Deposit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="accountNumber" @bind-Value="customerAccountInput.AccountNo" />
    <InputNumber id="amount" @bind-Value="customerAccountInput.Amount" />

    <button type="submit" class="btn btn-primary">Put Money</button>

</EditForm>

<h4>Transfer Money</h4>

<EditForm Model="@transferMoneyInput" OnValidSubmit="@Transfer">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="fromAccountNumber" @bind-Value="transferMoneyInput.FromAccountNumber" />
    <InputText id="toAccountNumber" @bind-Value="transferMoneyInput.ToAccountNumber" />
    <InputNumber id="amount" @bind-Value="transferMoneyInput.Amount" />

    <button type="submit" class="btn btn-primary">Transfer</button>

</EditForm>

<h4>All Accounts</h4>

@if (customerAccounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Address</th>
                <th>IBAN</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customerAccount in customerAccounts)
            {
                <tr>
                    <td>@customerAccount.AccountNo</td>
                    <td>@customerAccount.Name</td>
                    <td>@customerAccount.Address</td>
                    <td>@customerAccount.IBAN</td>
                    <td>@customerAccount.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BankAccounts> customerAccounts;
    private BankAccounts customerAccountInput = new BankAccounts();
    private TransferMoneyInputModel transferMoneyInput = new TransferMoneyInputModel();

    protected override async Task OnInitializedAsync()
    {
        customerAccounts = SqliteDataAccess.LoadAccounts();
    }

    protected void CreateAccount()
    {
        BankAccounts acct = customerAccounts.OrderByDescending(a => a.CreatedWhen).FirstOrDefault();

        int acctNo = acct == null ? 1 : Int16.Parse(acct.AccountNo) + 1;

        IBankAccountBuilder = new IbanBuilder();

        IBankAccountBuilder.WithCountry("NL", IbanRegistry.Default)
                            .WithBankAccountNumber(acctNo.ToString())
                            .WithBankIdentifier("TEST");

        string acctStr = String.Format("{0:0000000000}", acctNo);

        BankAccounts input = new BankAccounts()
        {
            AccountNo = acctStr,
            Name = customerAccountInput.Name,
            Address = customerAccountInput.Address,
            Amount = 0,
            IBAN = IBankAccountBuilder.Build(),
            CreatedWhen = DateTime.UtcNow,
            LastModifiedWhen = DateTime.UtcNow
        };

        SqliteDataAccess.SaveAccount(input);

        customerAccounts = SqliteDataAccess.LoadAccounts();

        customerAccountInput = new BankAccounts();
    }

    protected void Deposit()
    {

        BankAccounts acctToUpdate = SqliteDataAccess.LoadAccountByAccountNumber(customerAccountInput.AccountNo);

        acctToUpdate.Amount = acctToUpdate.Amount + (customerAccountInput.Amount * (decimal)0.99);

        SqliteDataAccess.UpdateAccount(acctToUpdate);

        customerAccounts = SqliteDataAccess.LoadAccounts();

        customerAccountInput = new BankAccounts();
    }

    protected void Transfer()
    {

        BankAccounts fromAccount = SqliteDataAccess.LoadAccountByAccountNumber(transferMoneyInput.FromAccountNumber);
        BankAccounts toAccount = SqliteDataAccess.LoadAccountByAccountNumber(transferMoneyInput.ToAccountNumber);

        fromAccount.Amount = fromAccount.Amount - transferMoneyInput.Amount;

        SqliteDataAccess.UpdateAccount(fromAccount);

        toAccount.Amount = toAccount.Amount + transferMoneyInput.Amount;

        SqliteDataAccess.UpdateAccount(toAccount);

        customerAccounts = SqliteDataAccess.LoadAccounts();

        transferMoneyInput = new TransferMoneyInputModel();
    }
}
